.tabs {
  width: 100%;
}

.tab-list {
  display: flex;
  cursor: pointer;
}

.tab {
  padding: 6px 20px;
}

.tab.active {
  background-color: #b52b1d;
  color: white;
}

.tab-content {
  width: min-content;
  border-top: 2px solid #b52b1d;
}

.tab-panel {
  display: block;
}
